.expression {
    background: #ffddcc;
    width: fit-content;
    padding: 0.5rem;
    padding-right: 2px;
    border: 1px solid #aa9988;
}
.symbol {
    color: #345532;
}
.args {

}
.name {
    color: #556644;
}
.map {
    background: #eccbbb;
    padding: 0.5rem;
    padding-right: 2px;
    width: fit-content;
    border: 1px solid #775544;
}

.method-def-name {
    background: #bbccdd;
}

.method-def-body {
    background: #bbccdd;
}
