[Unit]
Description=Simulabra
After=network.target

[Service]
ExecStart=/root/.bun/bin/bun run src/agent.js
WorkingDirectory=/opt/simulabra
StandardOutput=file:/var/log/simulabra.log
StandardError=file:/var/log/simulabra.log
Restart=always

[Install]
WantedBy=multi-user.target
