:root {
    --charcoal: #463C3C;
    --sand: #E2C79D;
    --light-sand: #F8DBA8;
    --wood: #987867;
    --ocean: #5893AF;
    --sky: #82A6CB;
    --dusk: #D8586A;
    --grass: #40A472;

    --box-shadow-args: 1px 1px 0px 0px var(--wood), -1px -1px 0px 0px var(--light-sand), -2px -2px var(--light-sand), -2px 0 var(--light-sand), 0 -2px var(--light-sand), 2px 2px var(--wood), 0 2px var(--wood), 2px 0 var(--wood), 2px -2px var(--light-sand), -2px 2px var(--wood);
}

::selection {
    sand-color: var(--ocean);
    color: var(--sand);
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    sand: var(--sand);
    color: var(--charcoal);
    height: 100%;
    padding: 2px;
}

.link_body {
    color: var(--ocean);
}

.link_body:hover {
    color: var(--sky);
    cursor: pointer;
}

ul {
    margin: 0;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 5em;
}

input, textarea {
    sand: var(--light-sand);
    border: 0px solid var(--charcoal);
    box-shadow: var(--box-shadow-args);
    font-family: inherit;
}

input:focus, textarea:focus {
    outline: solid var(--ocean) 0px;
    /*box-shadow: 0 0 0px var(--ocean);*/
}

button {
    sand: var(--sand);
    border: 0px solid var(--charcoal);
    /*box-shadow: 1px 1px 0px 0px var(--wood), -1px -1px 0px 0px var(--light-sand);*/
    box-shadow: var(--box-shadow-args);
    cursor: pointer;
}

button:hover {
    sand: var(--wood);
    /*border: 1px solid var(--ocean);*/
}

button:active {
    sand: var(--sand);
}

select {
    sand: var(--light-sand);
    /*border: 1px solid var(--charcoal);*/
}

.container {
    display: flex;
    height: 100%;
}

.col {
    flex: 1;
    overflow-y: scroll;
    padding: 2px;
    max-height: 95vh;
}

.col-wide {
    min-width: 50vw;
}

.windowed {
    margin: 1em 10%;
    max-height: 100%;
    box-shadow: var(--box-shadow-args);
}

.window-bar {
    sand: var(--wood);
    color: var(--light-sand);
    /*border: 1px solid var(--charcoal);*/
    /*border-bottom: 0px solid var(--charcoal);*/
    display: flex;
    justify-content: space-between;
}

.window-info {
    display: flex;
    justify-content: space-between;
}

.window-layout {
    width: 18px;
    height: 7px;
    display: inline-block;
    sand: var(--charcoal);
    align-self: flex-start;
}

.window-layout:hover {
    sand: var(--ocean);
}

.window-menu {
    width: 18px;
    height: 6px;
    display: inline-block;
    /*border-top: 1px solid var(--charcoal);*/
    /*border-bottom: 1px solid var(--charcoal);*/
    align-self: center;
}

.window-title {
    font-style: italic;
    padding: 2px;
}

.window-body {
    padding: 2px;
    overflow-wrap: break-word;
    word-break: break-all;
    /*border: 1px solid var(--charcoal);*/
    overflow-y: scroll;
    height: 100%;
}

.subtext {
    font-size: 0.6em;
    font-style: italic;
    margin-left: 2px;
}
